img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    position: relative;
    
}
div {
    display: block;
}


.footer {
    position: relative  ;
    margin-top: 10px;
    padding: 10px;
    height: 130px;
    width: 100%;
    background: darkblue;
    color: white;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    margin-bottom: 0px;
 }

.col-md-6 {
    color: white;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.row1 text-center {
    color: white;
}