.heads {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

.column {
    margin-top: 20px;
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .gallery{
      height: 250px;
      width: 350px;
      margin-bottom: 20px;
      
  }

.amenities {
    width: 88%;
    height: 290px;
    margin-left: 75px;
    margin-bottom: 30px;
}
.bgi1 {
    margin-top: 0px;
    width: 1348px;
    height: 500px;
    position: relative;
    margin-left: 0px;
}